body{
    font-family: 'Montserrat', sans-serif;
}

.nav-logo {
    width: 40px;
    margin: 3px;
    margin-right: 8px;
}

nav {
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;
    font-weight: 600;
}

/* .navbar-brand {
    color: #FFFFFF;
    font-weight: 700;
} */

/* #white-font {
    color: #FFFFFF;
} */

#white-font {
    color: white !important;
    text-decoration: none;
}
  

#infopromo_blue{
    background-color: #3A9EFC

}

#navbar-bg-color {
    background-color: #3A9EFC;
}

/* montserrat classic no bold */
.bold-600 {
    font-weight: 600;
}
/* montserrat classic bold */
.bold-800 {
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

/* Add underline to navbar links on hover */
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-brand:hover {
    text-decoration: underline;
  }

.banner-infopromo{
    margin-top: 72px;
    
}

.pinned-batam-home {
    width: 300px;
}

#pinned-batam-home-card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 50px;
    width: 340px;
    margin: auto;
    margin-left: 240px;
}

.ipb-scale {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#pinned-batam-home-card:hover {
    transform: scale(1.1);
}
/* SCALING ZOOM COPY */

.ipb-blue-shadow {
    box-shadow: 0 0 50px #3A9EFC;
}

.rekomendasi-home-feature {
    font-size: 3em;
    font-weight: 800;
}

.icon-margin {
    margin: 1em;
}

.mb-80 {
    margin-bottom: 80px;
}

.ipb-blue-bg{
    background-color: #3A9EFC;
}

#blog-home {
    background-color: #FFFFFF;
    padding: 50px;
    width: 1200px;
    border-radius: 50px;
}